@include keyframes(fade-in-from-bottom) {
  0% {
    opacity: 0;
    @include translateY(40px);
  }
  100% {
    opacity: 1;
    @include translateY(0px);
  }
}

@include keyframes(figure-slide-in) {
  0% {
    opacity: 0;
    @include transform(translateY(50%) rotateZ(-2deg));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0px) rotateZ(0deg));
  }
}

@include keyframes(app-launch) {
  0% {
    @include transform(scale(.5) translateY(50%));
    opacity: 0;
  }
  100% {
   @include transform(scale(1) translateY(0));
    opacity: 1;
  }
}

@include keyframes(app-sponsor-slide-in) {
  0% {
    opacity: 0;
    @include translateY(50%);
  }
  100% {
    opacity: 1;
    @include translateY(0);
  }
}

@include keyframes(spinning) {
    0% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(360deg);
    }
}

@include keyframes(fade-in) {
  0% { opacity: 0; } 
  100% { opacity: 1; }
}