@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-bold(){
    font-family: 'Knowledge-Bold';
    @include font-smoothing;
}

@mixin font-regular(){
    font-family: 'knowledgeRegularRegular';
    @include font-smoothing;
}

@mixin font-regularitalic(){
    font-family: 'knowledgeRegularItalicRegular';
    @include font-smoothing;
}

@mixin font-light(){
    font-family: 'knowledgeLightRegular';
    @include font-smoothing;
}

@include font-face(
    'KnowledgeUltraLightRegular',
    font-files(
    	'knowledge/knowledge-ultralight-webfont.eot',
    	'knowledge/knowledge-ultralight-webfont.eot?#iefix',
        'knowledge/knowledge-ultralight-webfont.woff',
        'knowledge/knowledge-ultralight-webfont.ttf'));

@include font-face(
    'KnowledgeUltraLightItalicRg',
    font-files(
    	'knowledge/knowledge-ultralightitalic-webfont.eot',
    	'knowledge/knowledge-ultralightitalic-webfont.eot?#iefix',
        'knowledge/knowledge-ultralightitalic-webfont.woff',
        'knowledge/knowledge-ultralightitalic-webfont.ttf'));

@include font-face(
    'knowledgeLightRegular',
    font-files(
        'knowledge/knowledge-light-webfont.eot',
        'knowledge/knowledge-light-webfont.eot?#iefix',
        'knowledge/knowledge-light-webfont.woff',
        'knowledge/knowledge-light-webfont.ttf'));

@include font-face(
    'knowledgeLightItalicRegular',
    font-files(
    	'knowledge/knowledge-lightitalic-webfont.eot',
    	'knowledge/knowledge-lightitalic-webfont.eot?#iefix',
        'knowledge/knowledge-lightitalic-webfont.woff',
        'knowledge/knowledge-lightitalic-webfont.ttf'));

@include font-face(
    'knowledgeRegularRegular',
    font-files(
        'knowledge/knowledge-regular-webfont.eot',
        'knowledge/knowledge-regular-webfont.eot?#iefix',
        'knowledge/knowledge-regular-webfont.woff',
        'knowledge/knowledge-regular-webfont.ttf'));

@include font-face(
    'knowledgeRegularItalicRegular',
    font-files(
        'knowledge/knowledge-regularitalic-webfont.eot',
        'knowledge/knowledge-regularitalic-webfont.eot?#iefix',
        'knowledge/knowledge-regularitalic-webfont.woff',
        'knowledge/knowledge-regularitalic-webfont.ttf'));

@include font-face(
    'Knowledge-Bold',
    font-files(
        'knowledge/knowledge-bold.eot',
        'knowledge/knowledge-bold.eot?#iefix',
        'knowledge/knowledge-bold.woff',
        'knowledge/knowledge-bold.ttf'));

$font_default: 'knowledgeRegularRegular', 'Helvetica Neue', sans-serif;