@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-bold(){
    font-weight: 700;
    font-style: normal;
    @include font-smoothing;
}

@mixin font-regular(){
    font-weight: 400;
    font-style: normal;
    @include font-smoothing;
}

@mixin font-regularitalic(){
    font-weight: 400;
    font-style: italic;
    @include font-smoothing;
}

@mixin font-light(){
    font-weight: 300;
    font-style: normal;
    @include font-smoothing;
}

@include font-face(
    'Knowledge',
    font-files(
    	'knowledge/knowledge-regular.eot',
    	'knowledge/knowledge-regular.eot?#iefix',
        'knowledge/knowledge-regular.woff',
        'knowledge/knowledge-regular.ttf'));

@include font-face(
    'Knowledge',
    font-files(
    	'knowledge/knowledge-regularitalic.eot',
    	'knowledge/knowledge-regularitalic.eot?#iefix',
        'knowledge/knowledge-regularitalic.woff',
        'knowledge/knowledge-regularitalic.ttf'));

@include font-face(
    'Knowledge',
    font-files(
    	'knowledge/knowledge-bold.eot',
    	'knowledge/knowledge-bold.eot?#iefix',
        'knowledge/knowledge-bold.woff',
        'knowledge/knowledge-bold.ttf'));

@include font-face(
    'Knowledge',
    font-files(
    	'knowledge/knowledge-light.eot',
    	'knowledge/knowledge-light.eot?#iefix',
        'knowledge/knowledge-light.woff',
        'knowledge/knowledge-light.ttf'));

$font_default: 'Knowledge', 'Helvetica Neue', sans-serif;