// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/selection";
@import "compass/utilities";
@import "retina";
@import "fonts";
@import "icons";
@import "susy";
@import "breakpoint";

// --- Global vars ---
$break_wide_laptop: (min-width 1400px) (max-height 1040px);
$break_laptop: max-height 840px;
$break_phone: max-width 680px;

$break_tablet_landscape: (min-width 680px) (max-width 1200px);
$break_tablet_portrait: (min-width 680px) (max-width 800px);

$break_standard_width: max-width 1440px;

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

$orange: #ff9100;
$almost_black: #2a2a2a;
$text_gray: #86888b;
$ui_gray: #dedfe0;

// -- Global Mixins --
@mixin absoluteTopLeft() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absoluteTopRight() {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin absoluteBottomLeft() {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin absoluteFullSize() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin backfaceHidden() {
  -webkit-backface-visibility: hidden;
}

@mixin grab-cursor {
  // http://www.google.com/intl/en_ALL/mapfiles/openhand.cur
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

@mixin grabbing-cursor {
  // http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -o-grabbing !important;
  cursor: -ms-grabbing !important;
  cursor: grabbing !important;
}

@mixin clearfix {
  &:after{
    content: '';
    clear: both;
  }
}

//
html{
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: $font_default;
  font-size: 10px;
  @include font-regular;

  &[data-mobile]{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      @include user-select('none');
    }
  }
}

a{
  text-decoration: none;
  color: inherit;
}

textarea{
  resize: none;
}

input{
  overflow: hidden;
  text-overflow: ellipsis;
}

input::-ms-clear{
  display: none;
}

button{
  &:disabled{
    cursor: default;
  }
}