$debug: (
	debug: (
		//image: show,
		//output: overlay
	)
);

$susy: (
	columns: 12,
	container: 1400px,
	gutters: .2,
	global-box-sizing: border-box,
);

$grid-no-gutters: (
	columns: 12,
	container: 1400px,
	gutters: 0,
	global-box-sizing: border-box,
);

@if compass-env() == 'development' {
	$susy: map-merge($susy, $debug);
	$grid-no-gutters: map-merge($grid-no-gutters, $debug);
}

$max_grid_width: calc(100% - #{gutter()*2});