#header-container{
	position: fixed;
	width: 100%;
	z-index: 100;

	header{
		position: relative;
		width: 100%;
		height: 10rem;
		color: #fff;
		background: #000;
		overflow: hidden;
		@include transition(height .25s ease-out);

		>.logo{
			@include absoluteTopLeft;
			z-index: 1;
			width: 10rem;
			height: 10rem;
			@extend .icon;
			@extend .icon-statue;
			text-align: center;
			line-height: 10rem;
			font-size: 5.4rem;
			border-right: 2px solid $back_gray;
			@include transition(all .25s ease-out);
		}

		>.inner{
			position: relative;
			z-index: 0;
			width: 100%;
			height: 100%;
		}

		nav{
			position: relative;
			z-index: 1;
			float: right;
			height: 100%;

			ul{
				height: 100%;

				li{
					display: inline-block;
					vertical-align: middle;
					height: 100%;
					color: inherit;

					&:last-child{
						padding-right: 2rem;
					}

					a{
						position: relative;
						display: block;
						height: 100%;
						overflow: hidden;
						letter-spacing: 1px;
						font-size: 1.3rem;
						line-height: 10rem;
						@include font-smoothing;
						@include transition(line-height .25s ease-out);

						>span{
							display: block;
							padding: 0 2rem;
							text-align: center;
							@include translateY(0);
							@include transition(transform .4s $easeOutCubic, opacity .4s $easeOutCubic);

							&.icon{
								width: 4rem;
								font-size: 2.3rem;
								line-height: inherit;
								padding: 0 .5rem;

								&.icon-instagram, &.icon-linkedin{
									font-size: 2rem;
								}
							}
						}

						&:before{
							content: "";
							@include absoluteTopLeft;
							width: 100%;
							height: 4px;
							background: $gold;
							@include translateY(-100%);
							@include transition(transform .4s);
						}

						.after{
							position: absolute;
							top: 0;
							left: 0;
							color: $gold;
							padding: 0 2rem;
							opacity: 0;
							@include translateY(-20%);
							@include transition(transform .4s $easeOutCubic, opacity .4s $easeOutCubic);
						}

						&:hover{
							>span{
								opacity: 0;
								@include translateY(20%);
							}

							&:before{
								@include translateY(0);
							}

							.after{
								opacity: 1;
								@include translateY(0);
							}
						}
					}
				}
			}
		}

		&.compact{
			height: 5rem;

			>.logo{
				width: 5rem;
				height: 5rem;
				line-height: 5rem;
				font-size: 3rem;
			}

			a{
				line-height: 5rem !important;
			}
		}
	}
}