&{
	width: 100%;
	padding: 5rem 0;
	background: rgba(white, 0.97);
	@include box-sizing(border-box);

	>.inner{
		height: 100%;
		@include container(12);
		width: $max_grid_width;
	}

	.logo{
		float: left;
		width: 22.265em;
		height: 5.4em;
		color: transparent;
		background-image: image-url('reuters-logo.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: left center;
	}

	nav{
		float: right;
		line-height: 5.4em;

		li{
			margin-left: 1.2em;
			display: inline-block;
			font-size: 1.6em;
			text-transform: uppercase;
			@include font-bold;

			&.active{
				color: $orange;
			}

			&:not(.active) {
				a{
					@include transition(opacity .2s);

					&:hover{
						opacity: .25;
					}
				}
			}

			&:first-child{
				margin-left: 0;
			}
		}
	}

	&.compact{
		padding: 1.5rem 0;
		border-bottom: 1px solid $ui_gray;
		font-size: .85rem;
	}

	@include breakpoint($break_above_phone) {
		@include transition(padding .5s $easeOutCubic, font-size .5s $easeOutCubic);
	}
	
	@include breakpoint($break_tablet_landscape) {
		padding: 3rem 0;
		font-size: .85rem;
	}

	@include breakpoint($break_phone) {
		padding: 2rem 0;
		font-size: .75rem;

		&.compact{
			padding: 1rem 0;
			font-size: .65rem;
		}

		.logo{
			width: 4em;
			background-size: auto 70%;
		}

		nav{
			li{
				margin-left: 0.6em;
			}
		}
	}
}