&{
	font-size: 6px;
}

section{
	&.chat{
		.chat-window{
			height: 100%;

			li{
				font-size: 1.3rem;
			}
		}
		
		.username-controls, .message-controls{
			display: none;
		}
	}

	&.sound{
		.front{
			.edit-controls{
				visibility: hidden;
			}
		}
	}
}

.block{
	.controls{
		@include translateX(0);

		.edit-button{
			display: none;
		}
	}

	&.video{
		.poster{
			pointer-events: none;
			font-size: 8rem;
		}
	}
}

@include breakpoint($break_phone) {

	body{
		overflow: auto;
	}

	.device-viewport-height{
		height: calc(100vh - 10rem) !important;
	}

	&[data-phone='iPhone']{
		.device-viewport-height{
			height: calc(100vh - 10rem - 70px) !important;
		}
	}

	#header-container{
		position: static;

		header{
			position: relative;
		}

		.logo{
			border-right: none;
			font-size: 3rem;
		}

		nav{
			.icon{
				padding: 0;
			}
		}
	}

	section.intro {
		.marquee {
			>.inner {
				width: 80%;
				> .upper {
					background-size: 100% auto;
				}
				> .lower {
					background-size: 100% auto;
				}
			}
		}
	}

	section {
		&.intro{
			padding-top: 0;

			.marquee{
				>.corners{
					>div{
						margin: 0;

						&.tl{
							h1{
								display: none;
							}
						}
					}
				}

				>.inner{
					>.upper{
						height: 0;
						padding-bottom: 46%;
						background-image: image-url('gold-frame-upper-phone.png');

						.statue{
							font-size: 10rem;
						}

						h2{
							font-size: 1rem;
							line-height: 2.5;
						}
					}

					>.lower{
						height: 0;
						padding-bottom: 46%;
						background-image: image-url('gold-frame-lower-phone.png');

						h4{
							padding-top: 8vh;

							>.amazon-logo{
								@include retina-icon('amazon-logo-white-sm');
							}
						}
					}

					h3{
						margin: -6vh auto;
						width: 90%;
						font-size: 4rem;
					}
				}
			}

			.submissions-container{
				.submissions{
					>.block{
						&.image, &.giphy, &.tweet{
							@include span(12);
							padding-bottom: span(12);
						}

						&.video{
							@include span(12);
							padding-bottom: span(6);
						}
					}
				}
			}
		}

		&.promo{
			.golden-heading{
				@include span(10);
				@include push(1);
			}

			.paragraph{
				@include span(10);
				@include push(1);
				font-size: 2rem;
				p br {
					display: none;
				}
			}

			.scroll-button{
				display: none;
			}
		}

		&.collage{
			.block{
				&.image, &.giphy, &.tweet{
					@include span(12);
					padding-bottom: span(12);
				}

				&.video{
					@include span(12);
					padding-bottom: span(6);
				}

				&.text{
					@include span(12);
					padding-bottom: span(8);
				}
			}
		}

		&.chat{
			.text-pane{
				@include span(12);
				padding-bottom: span(12);

				p{
					font-size: 4rem;
				}
			}

			.chat-pane{
				@include span(12);
				padding-bottom: 70vh;
			}

			.chat-window{
				overflow: auto;

				ul{
					padding: 2rem;
					padding-bottom: 10rem;
				}

				.avatar{
					font-size: 8rem;
				}
			}
		}

		&.shape-section{
			.back{
				>.shape{
					background-size: contain;
				}
			}
		}

		&.sound{
			margin-top: span(2);

			.front{
				height: 0;
				padding-bottom: 140%;

				.cover-container{
					@include absoluteFullSize;
					@include flexbox((
						display: flex,
						align-items: center,
						justify-content: center
					));
				}
			}

			.back{
				display: block;
				height: 0;
				padding-bottom: 140%;
				overflow: hidden;

				>.circles{
					margin-left: -50%;
					width: 200%;
				}
			}

			&.fallback{
				.front{
					position: relative;
					top: 0;
					@include translateY(0);

					.cover{
						margin: 5rem auto;
						font-size: .8rem;
					}
				}

				.soundtracks{
					position: relative;
					z-index: 1;
					top: -15vh;
					@include container(12);
					border-top: 1px solid darken($text_darkgray, 14);
					
					li{
						@include full;
						border-bottom: 1px solid darken($text_darkgray, 14);
						padding: span(.8) span(1);
						@include box-sizing(border-box);

						@include flexbox((
							display: flex,
							align-items: center,
							justify-content: space-between
						));

						>.play-button{
							width: 70%;
							white-space: nowrap;
							color: #fff;
							font-size: 1.5rem;
							text-align: left;
							@include font-smoothing;

							>div{
								max-width: 100%;
								display: inline-block;
								overflow: hidden;
								text-overflow: ellipsis;
								text-align: left;
								color: inherit;

								>.index{
									margin-right: 2rem;
									@include font-book;
								}

								>.title{
									@include font-heavy;
								}
							}

							&.icon{
								width: 5rem;
								text-align: center;

								span{
									text-transform: uppercase;
									@include font-heavy;
								}
							}
						}

						&.active{
							>.play-button{
								color: $gold;
							}
						}

						&.playing{
							>.play-button{
								&.icon{
									color: #fff;

									span{
										display: none;
									}
								}
							}
						}

						&:not(.playing) {
							>.play-button{
								&.icon{
									color: $gold;

									&:before{
										content: '';
									}
								}
							}
						}
					}

					>.left{
						@include full;
					}

					>.right{
						@include full;
					}
				}
			}
		}

		&.share{
			.golden-heading{
				@include span(10);
				@include push(1);
			}

			.share-buttons{
				button{
					&[data-type='twitter'] {
						@include retina-icon('twitter-sm');
					}

					&[data-type='facebook'] {
						@include retina-icon('facebook-sm');
					}
				}
			}
		}
	}
}

@include breakpoint($break_tablet_portrait) {
	section{
		&.chat{
			.text-pane{
				@include span(12);
				padding-bottom: span(4);
			}

			.chat-pane{
				@include span(12);
				padding-bottom: span(6);
			}

			.chat-window{
				overflow: auto;

				.avatar{
					font-size: 12rem;
				}
			}
		}

		&.sound{
			.front{
				.edit-controls{
					visibility: hidden;
				}
			}
		}
	}
}