html{
	color: $almost_black;
}

.heading{
	position: relative;
	font-size: 4.8em;
	line-height: 1.05;
	text-transform: uppercase;
	@include font-bold;

	>span{
		display: block;
	}

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0.18em;
		left: -1em;
		width: 5px;
		height: calc(100% - 0.36em);
		background: $orange;
	}

	&:after{
		content: none;
		display: block;
		margin: .4em 0;
		width: 1em;
		height: 5px;
		background: $orange;
	}

	&.no-decoration{
		&:before, &:after{
			content: none;
		}
	}

	@include breakpoint($break_standard_width) {
		&:before{
			content: none;
		}
		&:after{
			content: '';
		}
	}

	@include breakpoint($break_phone) {
		text-align: center;

		&:after{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.subheading{
	margin-top: .25em;
	font-size: 4.8em;
	line-height: 1.15;
	@include font-light;
}

.label{
	font-size: 1.6rem;
	line-height: 1.15;
	text-transform: uppercase;
	@include font-bold;
}

.body{
	font-size: 2.2em;
	line-height: 1.36;
	color: $text_gray;

	&.small{
		font-size: 1.4em;
		line-height: 1.857;
	}

	>p{
		margin-top: 1em;
	}

	@include breakpoint($break_phone) {
		font-size: 1.4rem !important;
		line-height: 1.36 !important;
	}
}