%reset-button{
  @include user-select('none');
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  @include user-select('none');
  @include appearance(none);
  cursor: pointer;
}

button{
  text-transform: uppercase;
  @extend %reset-button;

  &.text-button{
    padding: 1rem 2rem;
    border: 1px solid #000;
    font-size: 1.7rem;
    background: #fff;
  }
}