%reset-button{
  @include user-select('none');
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  @include user-select('none');
  @include appearance(none);
  cursor: pointer;
}

button{
  font-size: inherit;
  @extend %reset-button;
}