@import "global";
@import "grid";
@import "typography";
@import "animation";
@import "ui";

html{
	overflow-x: auto;
	overflow-y: scroll;

	&[data-mobile] {
		@import "mobile";
	}

	&[data-desktop], &[data-tablet='iPad'] {
		@import "desktop";
	}
}

body{
	background: white;
	min-width: 320px;
	min-height: 480px;
	overflow: hidden;

	.no-scrollbar &{
		height: 100%;
		overflow: hidden !important;
	}
}

#main{
	>section{
		@import "section";
	}
}

#main-header{
	position: fixed;
	width: 100%;
	z-index: 1;

	header{
		@import "header";
	}
}

#main-footer{
	footer{
		@import "footer";
	}
}